@model IEnumerable<WebApplication2.Models.welcome_home>
@foreach (var i in Model) {
    <section class="welcome-part-one">
    <div class="container">
        <div class="welcome-demop102 text-center">
            <h2>@i.welcome_title</h2>
        </div>
    </div>
</section> 
}
    