@model IEnumerable<WebApplication2.Models.notification>
@foreach (var i in Model) {
    
        <div class="welcome-demop102 text-center">
            <h2>@i.notification_content</h2>
            <a href="@i.link" style="color: white">@i.link</a>
        </div>
    
}