@model IEnumerable<WebApplication2.Models.welcome_home>
@foreach (var i in Model) {
    
        <div class="welcome-demop102 text-center">
            <h2>@i.welcome_title</h2>
            <a href="@i.link" style="color: white">@i.link</a>
        </div>
    
}