
@model IEnumerable<WebApplication2.Models.NEWS>

@foreach (var i in Model)
{
    <div class="post-details021">
        <a href="#"><h5>@i.new_title</h5></a>
        <p>@i.new_description</p> <small style="color: #848991">@i.new_datebegin</small>
    </div>
}
