@model IEnumerable<WebApplication2.Models.category>
        <option value="">-- Select an option --</option>
        @foreach (var i in Model)
            {
                <option value="@i.category_id">@i.name</option>
            }

