
@{
    ViewBag.Title = "Category | " + ViewBag.CategoryName;
}

<section class="header-descriptin329">
    <div class="container">
        <h3 style="color: white">Category</h3>
        <ol class="breadcrumb breadcrumb839">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active" style="color:white">Category</li>
        </ol>
    </div>
</section>
<section class="main-content920">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="main">
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1">Recent Question</label>
                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2">Most Response</label>
                    <input id="tab3" type="radio" name="tabs">
                    <label for="tab3">Recently Answered</label>
                    <input id="tab4" type="radio" name="tabs">
                    <label for="tab4">No Answer</label>

                    <section id="content1">
                        <!--Recent Question Content Section -->
                        @{ Html.RenderAction("getRecentPost", "Post", new {category_id = ViewBag.Id});}
                    </section>
                    <!--  End of content-1------>

                    <section id="content2">
                        <!--Most Response Content Section -->
                        @{ Html.RenderAction("getMostResponsesPost", "Post", new {category_id = ViewBag.Id});}

                    </section>

                    <!----end of content-2----->

                    <section id="content3">
                        <!--Recently answered Content Section -->
                        @{ Html.RenderAction("getRecentlyAnswers", "Post", new {category_id = ViewBag.Id});}

                    </section>
                    <!--End content-3 -->


                    <section id="content4">
                        <!--No answered Content Section -->
                        @{ Html.RenderAction("getNoAnswerPosts", "Post", new {category_id = ViewBag.Id});}

                    </section>


                </div>
            </div>
            <aside class="col-md-3 sidebar97239">
                @{Html.RenderAction("loginPartialView", "Login");}
                @{Html.RenderAction("get15RecentPosts", "Post");}
            </aside>
        </div>
    </div>
</section>

