@model IEnumerable<WebApplication2.Models.user>

@{
    ViewBag.Title = "Users";
}

<body>
    <section class="header-descriptin329">
        <div class="container">
            <h3>All User Question</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active">All User Question</li>
            </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9 user-profile328903">
                    @foreach (var i in Model)
                    {
                        <div class="about-user2039">
                           <div class="row">
                           <div class="col-md-1">
                            <div class="user-image2939303"> <img src="~/Content/Image/images.png" alt="Image"> </div>
                               </div>
                               <div class="col-md-11">
                            <div class="user-description3903"> <a href="@Url.Action("Index", "User", new {id = i.user_id})">@i.full_name</a> <span class="badge229">
                            </div>
                               </div>
                            </div>
                        </div>
                    }
                </div>
                <!--                end of col-md-9 -->
                <!--           strart col-md-3 (side bar)-->
                <aside class="col-md-3 sidebar97239">
                    <div class="categori-part329">
                        <h4>Categories</h4>
                        <ul>
                            @{Html.RenderAction("getDetails", "Category");}
                        </ul>
                    </div>
                    <!--             social part -->
                    <!--              login part-->
                    <div class="login-part2389">
                        <h4>Login</h4>
                        <div class="input-group300"> <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" class="namein309" placeholder="Username"> </div>
                        <div class="input-group300"> <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input type="password" class="passin309" placeholder="Name"> </div>
                        <a href="#">
                            <button type="button" class="userlogin320">Log In</button>
                        </a>
                        <div class="rememberme">
                            <label>
                                <input type="checkbox" checked="checked"> Remember Me</label> <a href="#" class="resbutton3892">Register</a> </div>
                    </div>
                    <!--              highest part-->
                    <!--               end of Highest points -->
                    <!--          start tags part-->
                    <!--          End tags part-->
                    <!--        start recent post  -->
                    @{Html.RenderAction("get15RecentPosts", "Post");}
                </aside>
            </div>
        </div>
    </section>
</body>
