@model WebApplication2.Models.user

@{
    ViewBag.Title = "Index";
}

<body>
    <section class="header-descriptin329">
        <div class="container">
            <h3>User Details</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active">User Details</li>
            </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <!--    body content-->
                <div class="col-md-9">
                    <div class="about-user2039 mt-70">
                        <div class="user-title3930">
                            <h3>About <a href="#">Ahmed Hassan</a>
                     
                        <span class="badge229">
                        <a href="#">punit</a></span>
                        </h3>
                            <hr> </div>
                        <div class="user-image293"> <img src="image/images.png" alt="Image"> </div>
                        <div class="user-list10039">
                            <div class="ul-list-user-left29">
                                <ul>
                                    <li><i class="fa fa-plus" aria-hidden="true"></i> <strong>Registered:</strong> June 4, 2014</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Country:</strong> Egypt</li>
                                    <li><i class="fa fa-heart" aria-hidden="true"></i> <strong>Age:</strong> 27</li>
                                    <li><i class="fa fa-globe" aria-hidden="true"></i> <strong>Website:</strong><a href="#">view</a></li>
                                </ul>
                            </div>
                            <div class="ul-list-user-right29">
                                <ul>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> <strong>Phone:</strong> 01111111110</li>
                                    <li><i class="fa fa-globe" aria-hidden="true"></i> <strong>City:</strong> Cairo</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i> <strong>Sex: </strong>Male</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @{ Html.RenderAction("getPostsOfAUser", "Post", new { user_id = Model.user_id });}
                    
                </div>
                <!--                end of col-md-9 -->
                <!--           strart col-md-3 (side bar)-->
                <aside class="col-md-3 sidebar97239">
                    <div class="categori-part329">
                        <h4>Categories</h4>
                        <ul>
                            @{Html.RenderAction("getDetails", "Category");}
                        </ul>
                    </div>
                    <!--             social part -->
                    <!--              login part-->
                    <div class="login-part2389">
                        <h4>Login</h4>
                        <div class="input-group300"> <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" class="namein309" placeholder="Username"> </div>
                        <div class="input-group300"> <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                            <input type="password" class="passin309" placeholder="Name"> </div>
                        <a href="#">
                            <button type="button" class="userlogin320">Log In</button>
                        </a>
                        <div class="rememberme">
                            <label>
                                <input type="checkbox" checked="checked"> Remember Me</label> <a href="#" class="resbutton3892">Register</a> </div>
                    </div>
                    <!--               end of Highest points -->
                    <!--          start tags part-->
                    <!--          End tags part-->
                    <!--        start recent post  -->
                    <div class="recent-post3290">
                        <h4>Recent Post</h4>
                        <div class="post-details021"> <a href="#"><h5>How much do web developers</h5></a>
                            <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small> </div>
                        <hr>
                        <div class="post-details021"> <a href="#"><h5>How much do web developers</h5></a>
                            <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small> </div>
                        <hr>
                        <div class="post-details021"> <a href="#"><h5>How much do web developers</h5></a>
                            <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small> </div>
                    </div>
                    <!--       end recent post    -->
                </aside>
            </div>
        </div>
    </section>
</body>
