
@{
    ViewBag.Title = "New Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="header-descriptin329">
        <div class="container" >
            <h3 style="color: white">@ViewBag.Title</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active" style="color:white">@ViewBag.Title</li>
            </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <div class="ask-question-input-part032">
                      <h4>Create a new post</h4>
                 <hr>
                    <form>
                        <div class="question-title39">
                            <span class="form-description433">Question-Title* </span><input type="text" name="fname" class="question-ttile32" placeholder="Write Your Question Title">
                        </div>
                        
    <div class="categori49">
        <span class="form-description43305">Category* </span>
        <label>
            <select name="myBrowser" class="list-category53">
                @{ Html.RenderAction("getDetailsSelect", "Category");}
            </select>
        </label>
    </div>
    <div class="button-group-addfile3239">
        <span class="form-description23993">Attachment*</span><input type="file" name="ffile" class="question-ttile3226">
        
    </div>
       <div class="details2-239">
        <div class="col-md-12 nopadding">
            <textarea id="txtEditor"></textarea> 
        </div>
                        </div>	
                     
</form>
                 <div class="publish-button2389">
                    <button type="button" class="publis1291">Publish your Question</button>
                </div>
               
                </div>
             
              
                </div>
<!--                end of col-md-9 -->
           
<!--           strart col-md-3 (side bar)-->
    </section>

